<%- include("header"); -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Compose</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <div class="form-group">
        <label>title</label>
        <input class="form-control" type="text" name="compose" />
        <label>post</label>
        <textarea
          class="form-control"
          name="postbody"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Publish</button>
    </form>
  </body>
</html>
<%- include("footer"); -%>
